/*!
 *  FONTS
 */

 .museo-sans{font-family:"museo-sans",sans-serif;}
 .museo-slab{font-family:"museo-slab",serif;}

 @font-face{font-family:museo-sans-n3;src:url(https://use.typekit.com/af/f6d549/00000000000000000000e7fe/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff2"),url(https://use.typekit.com/af/f6d549/00000000000000000000e7fe/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff"),url(https://use.typekit.com/af/f6d549/00000000000000000000e7fe/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("opentype");font-weight:300;font-style:normal;}

 @font-face{font-family:museo-sans-i3;src:url(https://use.typekit.com/af/55aa58/00000000000000000000e802/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) format("woff2"),url(https://use.typekit.com/af/55aa58/00000000000000000000e802/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) format("woff"),url(https://use.typekit.com/af/55aa58/00000000000000000000e802/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) format("opentype");font-weight:300;font-style:italic;}

 @font-face{font-family:museo-sans-n7;src:url(https://use.typekit.com/af/c2dac6/00000000000000000000e805/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"),url(https://use.typekit.com/af/c2dac6/00000000000000000000e805/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"),url(https://use.typekit.com/af/c2dac6/00000000000000000000e805/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;}

 @font-face{font-family:museo-sans-i7;src:url(https://use.typekit.com/af/dc6ba3/00000000000000000000e806/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff2"),url(https://use.typekit.com/af/dc6ba3/00000000000000000000e806/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff"),url(https://use.typekit.com/af/dc6ba3/00000000000000000000e806/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("opentype");font-weight:700;font-style:italic;}

 @font-face{font-family:museo-slab-n3;src:url(https://use.typekit.com/af/f8c331/0000000000000000000100fe/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff2"),url(https://use.typekit.com/af/f8c331/0000000000000000000100fe/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff"),url(https://use.typekit.com/af/f8c331/0000000000000000000100fe/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("opentype");font-weight:300;font-style:normal;}

 @font-face{font-family:museo-slab-i3;src:url(https://use.typekit.com/af/810490/000000000000000000010141/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) format("woff2"),url(https://use.typekit.com/af/810490/000000000000000000010141/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) format("woff"),url(https://use.typekit.com/af/810490/000000000000000000010141/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) format("opentype");font-weight:300;font-style:italic;}

 @font-face{font-family:museo-slab-n7;src:url(https://use.typekit.com/af/1b8c3f/000000000000000000011aff/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"),url(https://use.typekit.com/af/1b8c3f/000000000000000000011aff/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"),url(https://use.typekit.com/af/1b8c3f/000000000000000000011aff/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;}

 @font-face{font-family:museo-slab-i7;src:url(https://use.typekit.com/af/3a798d/00000000000000000000ec0a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff2"),url(https://use.typekit.com/af/3a798d/00000000000000000000ec0a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff"),url(https://use.typekit.com/af/3a798d/00000000000000000000ec0a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("opentype");font-weight:700;font-style:italic;}

/*!
 *  HTML ELEMENTS
 */
 html, body {
   height: 100%;
 }

 body {
   font-size: 1rem;//20px;
   color: #212529;
   display: flex;
   flex-direction: column;
   background-color: #eee;
   font-family: 'museo-sans', 'Gill Sans', 'Helvetica', sans-serif;
 }

 body .container { max-width: 95% !important; }

 .wrapper {
   flex: 1 0 auto;
 }


a {
    color: #005596;
}

h1 {
    font-family: 'museo-slab', 'Rockwell', 'Helvetica', sans-serif;
    font-size: 2rem;
}

h2 {
    font-family: 'museo-slab', 'Rockwell', 'Helvetica', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.25rem;
}

.text-muted a {
    color: inherit;
}

/*!
 *  BOOTSTRAP CLASSES
 */

.alert {
    margin-top: 1rem;
}

.btn-primary {
    color: #fff;
    background-color: #E31837;
    border-color: #E31837;
}

.btn-primary:hover {
    color: #fff;
    background-color: #c0142f;
    border-color: #b5132c;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(231, 59, 85, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #E31837;
    border-color: #E31837;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #b5132c;
    border-color: #a91229;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(231, 59, 85, 0.5);
}

.btn-outline-primary {
    color: #E31837;
    border-color: #E31837;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #E31837;
    border-color: #E31837;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(227, 24, 55, 0.5);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #E31837;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #E31837;
    border-color: #E31837;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(227, 24, 55, 0.5);
}

.btn-secondary {
    color: #fff;
    background-color: #36454F;
    border-color: #36454F;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #273139;
    border-color: #273139;
}

.btn-secondary:focus,
.btn-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(39, 49, 57, 0.5);
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    color: #fff;
    background-color: #36454F;
    border-color: #36454F;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #273139;
    border-color: #273139;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(39, 49, 57, 0.5);
}

.btn-outline-secondary {
    color: #36454F;
    border-color: #36454F;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #273139;
    border-color: #273139;
}

.btn-outline-secondary:focus,
.btn-outline-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(39, 49, 57, 0.5);
}

.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled {
    color: #36454F;
    background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #36454F;
    border-color: #36454F;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(39, 49, 57, 0.5);
}

.btn-light {
    background-color: #eee;
    border-color: #eee;
}

.btn-light:hover {
    background-color: #bbb;
    border-color: #bbb;
}

.btn-light.disabled,
.btn-light:disabled {
    background-color: #eee;
    border-color: #eee;
}

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
    background-color: #bbb;
    border-color: #bbb;
}

.card p:last-child,
.card .table:last-child {
    margin-bottom: 0rem;
}

.input-group-prepend .input-group-text {
    background-color: #fff;
    border-right: 0px;
    font-size: 0.9rem;
}

.input-group-prepend ~ input,
.input-group-prepend ~ select {
    border-left: 0px;
    padding-left: 0rem;
}

.form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #f1f1f1;
    border-left: 1px solid #ced4da;
    padding-left: 0.5rem;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #E31837;
}

.nav-pills .nav-link:focus,
.nav-pills .nav-link:hover {
    outline: none;
}

/*!
 *  NAVBAR
 */

nav.navbar.navbar-dark {
    background-color: #E31837 !important;
}

nav.navbar .navbar-brand {
    font-family: 'museo-slab', 'Rockwell', 'Helvetica', sans-serif;
    text-transform: uppercase;
}

nav.navbar .navbar-brand img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

nav.navbar .navbar-nav .nav-link {
    border: 1px solid transparent;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
}

nav.navbar .navbar-toggler {
    border: 0px;
    color: #fff;
    padding: 0px;
}

nav.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.dropdown-menu {
    z-index: 1050;
}


/*!
 *  MAIN CONTENT
 */

main {
    margin-top: 1.75rem;
    margin-bottom: 1rem;
    max-width: 1200px;
}


label {
    font-size: 0.9rem;
    font-weight: 700;
}

form label.required::after {
    content: " \2014   required";
    color: #E31837;
}

.form-check label {
    font-size: initial;
    font-weight: initial;
}


/*!
 *  FOOTER
 */

footer {
    background-color: #231F20 !important;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

footer p {
    color: #ccc;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.02rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    text-transform: uppercase;
}

.grecaptcha-badge {
    visibility: hidden;
}


/*!
 *  MEDIA QUERIES
 */

@media (max-width: 768px) {
    nav.navbar .navbar-brand {
        width: calc(100% - 60px) !important;
    }

    nav.navbar .navbar-nav .nav-link {
        padding-left: 0.5rem;
    }

    .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
        margin-left: 0rem;
        margin-right: 0rem;
        margin-top: 0.5rem;
    }
}
